<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Where@bout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="styesheet" href="bootstrap-social/bootstrap-social.css">
  <link rel="styesheet" href="font-awesome/css/font-awesome.min.css">
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/css/site.css">
  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
  <!-- Plugin CSS -->
  <link rel="stylesheet" href="css/animate.min.css" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/creative.css" type="text/css">
  <!-- Angular Carousel -->
  <link href="angular-carousel/dist/angular-carousel.css" rel="stylesheet" type="text/css" />
  <!-- Social Buttons -->
  <link rel="styesheet" href="css/bootstrap-social.css">
  <link rel="styesheet" href="font-awesome/css/font-awesome.css">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
</head>

<body>
  <div ng-controller="NavbarController as nav">
    <nav class="navbar navbar-default" ng-show="nav.status.isLoggedIn">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="homeButton" ui-sref="Home">Where@</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" collapse="!isCollapsed">
          <ul class="nav navbar-nav">
            <li class="active"><a ng-click="isCollapsed = !isCollapsed" ui-sref="Discovery" id="discover">Discover </a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchContent">
                <span class="input-group-btn">
                  <button data-ng-click="isCollapsed = !isCollapsed" ui-sref="TakePhoto({search:vm.searchContent})" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </span>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right" id="UserDropdown">
            <img id="userIcon" ng-src="{{nav.status.image}}">
            <div class="btn-group" dropdown>
              <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle>
                {{nav.status.first_name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pointer" role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="isCollapsed = !isCollapsed" class="glyphicon glyphicon-user" ui-sref="Profile"> Profile</a></li>
                <li role="menuitem"><a ng-click="isCollapsed = !isCollapsed" class="glyphicon glyphicon-picture" ui-sref="MyPost"> Pics</a></li>
                <li role="menuitem"><a ng-click="isCollapsed = !isCollapsed" class="glyphicon glyphicon-question-sign" href="#"> Help</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a class="glyphicon glyphicon-log-out" ng-click="nav.logout(); isCollapsed = !isCollapsed"> Logout</a></li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    <ui-view></ui-view>
  </div>
  <!-- Google API Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.1.5/angular-google-maps.js"></script>
  <!-- Ext Libs -->

  <!-- Scroller -->
  <script src="angular-scroll/angular-scroll.js"></script>
  <!-- jQuery -->
  <script src="js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/jquery.fittext.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="angular-bootstrap/ui-bootstrap.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="js/creative.js"></script>
  <script src="js/jsBundle.js"></script>
  <!-- Angular Carousel -->
  <script src="angular-touch/angular-touch.js"></script>
  <script src="angular-carousel/dist/angular-carousel.js"></script>

</body>

</html>
